body {
	background-color: #000000;
	text-align: center;
}

h1 {
	color: #FF2E18;
	font-family: 'Cinzel', serif;
}

h2 {
	color: #FF2E18;
	font-family: 'Cinzel', serif;

}

p {
	font-size: 16px;
	color: #ffffff;
font-family: 'Cinzel', serif;
}

#slogan {
	font-size: 16px;
	color: #ffffff;
font-family: 'Cinzel', serif;
font-weight: 700;
font-size: 25px; 

}

ul {
	font-size: 16px;
	color: #ffffff;
font-family: 'Cinzel', serif;
text-align: center;
}